// :root {
// 	--blue: blue;	-> moet het aanpassen? Nee de einduser moet het designkleur niet aanpassen dus geen :root gebruiken.
// }
$alpha-color: #1990c7;
$alpha-color-dark: #205d8c;
$neutral-colors: (
	light: #fafafa,
	medium: #cccccc,
	dark: #222222
);